.item{
    margin: 30px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    background-color: red;
    background-image: linear-gradient(to right, brown, white 20%);
    font-size: medium;
    padding: 10px;
    display: -ms-grid;
}

.title{
    color: firebrick;
    text-decoration: underline;
}

.time{
    font-size: small;
    font-weight: bolder;
}

.text{
    font-size: x-small;
    padding-bottom: 10px;
}

@media screen and (min-width: 900px) {
    article {
        padding: 1rem 3rem;
    }
}