.List{
    margin: 4px;
    background-color:  grey;
    border: #444444;
    border-style: dotted;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-count: 3;
}

ul{
    list-style-type: none;
}

@media screen and (max-width: 680px){
    .List{
        grid-template-columns: 1fr 1fr;
        column-count: 2;
    }
}

@media screen and (max-width: 500px){
    .List{
        grid-template-columns: 1fr;

    }
}

@media screen and (min-width: 1000px) {
    .List{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
