.List{
    margin: 4px;
    background-color:  grey;
    border: #444444;
    border-style: dotted;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-count: 3;
}

ul{
    list-style-type: none;
}

@media screen and (min-width: 900px){
    .List{
        margin: 4px;
        background-color:  grey;
        border: #444444;
        border-style: dotted;
        border-radius: 15px;
        box-shadow: 5px 5px 10px 10px red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-count: 3;
    }
}